
h1{
    font: 1em garamond;
    font-size: xx-large;
    background-color: rgba(216, 223, 228, 0.891);
}
h2 {
    background-color: rgba(163, 161, 194, 0.479);
    font: 1em garamond;
}
a {
    font: 1em candara;
    ba
}

body{
    background-color: antiquewhite;
    font: 1em sans-serif;
}